.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('../assets/puppies_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 97vh;
}
.Home .title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #54447b;
  font-size: 8rem;
  font-family: 'Poor Richard';
}
.Home .question {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  background-color: rgba(224, 224, 224, 0.6);
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
  color: #485188;
  font-size: 2rem;
  font-family: 'Arial Rounded';
}
.Home .tryus {
  width: 15rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #54447b;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Poor Richard';
  text-decoration: none;
}
.Home .tryus .btn {
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #54447b;
  border-radius: 1rem;
}
.Home .tryus .btn-link {
  text-decoration: none;
  color: white;
  letter-spacing: 4px;
  cursor: pointer;
}
.container {
  background-color: #e7e7e1;
  border-top: 2px inset brown;
  border-bottom: 2px inset brown;
  border-right: 5px inset #e7e7e1;
  border-left: 5px outset #e7e7e1;
  border-radius: 20px;
  padding: 0px;
  width: 200px;
  height: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
}
.container .name {
  margin-top: 0;
  margin-bottom: 0rem;
  padding: 0rem;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  color: #54447b;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'Poor Richard';
  text-align: center;
  font-weight: bold;
}
.container .image {
  width: 100%;
  border-radius: 20px;
}
.container .data1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container .data1 span {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  height: 40px;
  margin-bottom: 0.1rem;
}
.container .data2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.container .data2 span {
  margin-left: 0.4rem;
  height: 1.5625rem;
}
