.Breedcardcontainer {
    width: auto;
    margin: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position:absolute;
    top: 6rem;
    left: 25%;
    right: 0%;
    bottom: 3rem;
    .sorter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        //transform: scale(0.8);
        zoom: 95%;
        position: absolute;
        top: 0rem;
        left: 0%;
        right: 0%;
        bottom: 0rem;
        .cardAsLink {
            margin: 0%;
            text-decoration: none;
            color: black;
        }
    }
}